@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: local('Economica'), local('Economica-Regular'),
       url('fonts/economica-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/economica-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/lato-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body, html {
	height: 100%;
}
body {
	text-align: center;
	font-family: "Lato";
	font-size: 15pt;
	text-transform: lowercase;
	background-color: #2d2d2d;
	color: white;
}
h1,h2,h3,label,.event {
	font-family: "Economica";
}
span {
	display: inline-block;
}
.jumbotron {
	min-height: 100%;
	background-image: url("robbe.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 75%;
}
.form-control, .btn {
	margin: 10px;
	color: black;
}
textarea.form-control {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	background-color: #0006;
	font-size: 3em;
	position: absolute;
	left: 0;
	bottom: 10%;
	padding: 30px;
}
h1 small {
	display: block;
	color: #ddd;
}
h2 {
	font-size: 2.5em;
	font-family: "Economica";
}
h3 {
	font-family: "Economica";
	font-size: 2em;
}
a {
	color: #aaa527;
}
.diet {
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
.rsvpWrapper {
	background-image: url("robbe.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75% 75%;
}
.rsvp {
	background-color: #0006;
	padding-top: 20px;
	padding-bottom: 20px;
}
.names {
  list-style-type: none;
  padding: 0;
  text-align: right;
	max-width: 400px;
	margin: auto;
}
.form-control {
	width: auto;
	display: inline-block;
}
.status {
	display: block;
}
.timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
  margin-bottom: 40px;
  position: relative;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.calendar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #aaa527;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.calendar {
  width: 25px;
  height: 25px;
  margin: auto;
}
.event {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
.event-circle {
  display: flex;
  align-items: center;
  background-color: white;/*#52A39A;*/
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.event-img {
  width: 30px;
  height: 30px;
  margin: auto;
}
.event-time {
  color: white;/*#52A39A;*/
  font-weight: 400;
  font-size: 1.4em;
}
.event-location {
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .timeline {
    border-left: 2px solid white; /*#52A39A;*/
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .event {
    margin-left: -25px;
  }
  .event-circle {
    float: left;
    margin-right: 20px;
  }
  .event-location {
  	margin: 0;
	}
}
@media screen and (min-width: 700px) {
  .timeline {
    border-top: 2px solid white;/*#52A39A;*/
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .event {
    float: left;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px; 
  }
  .event-circle {
 	  margin: auto;
  }
  .event-location {
    text-align: center;
  }
}
